{% extends 'flatpages/default.html' %}

{% block ad_main %}
  <h2>{{ blogtitle }}</h2>
  <img src="{{ ad.image.url }}" alt="{{ ad.title }}" width="400">
  <p>{{ blog.category }}</p>
  <p>{{ blog.content }}</p>
{% endblock %}

{% block ad_comments %}
  <h3>Комментарии</h3>
  {% if comments %}
    <ul class="list-unstyled">
      {% for comment in comments %}
        <li>
          <p>{{ comment.text }}</p>
          <small class="text-muted">Автор комментария: {{ comment.author.username }}, создан: {{ comment.created_at }}</small>
        </li>
      {% empty %}
        <li>Комментариев пока нет.</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block ad_comment_form %}
  <h4>Добавить комментарий</h4>
  <form metho