{% extends 'flatpages/default.html' %}
{% block title %}
Ad
{% endblock title %}
{% block content %}
<form action="your_view" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

</form>
    <table>
        <tr>
               <td>Описание</td>
               <td>Текст</td>


        <tr>
                <td>{{ blog.title }}<td>
                <td>{{ blog.content }}<td>
                <td>{{ blog.created_at }}<td>
                {% if blog.image %}
                <img src="{{ MEDIA_URL }}{{ blog.image.url }}" width="500">
                {% endif %}
                <td>
     <table>





        <a href="{% url 'add_response' blog.id %}"class="btn btn-secondary btn-sm">>Написать отзыв</button>

 <hr>
{% if name %}
    <h3>Комментарии</h3>
    {% for contents in content %}
        <td>{{ content.content}}</td>
    {% empty %}
        <p>Нет комментариев</p>
    {% endfor %}
{% endif %}
{% endblock %}