{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Ad
{% endblock title %}
{% block content %}
<h1>"Все новости"</h1>

<a href="{% url 'search' %}"class="btn btn-secondary btn-sm">Найти POST</a>

<h3>{{ blogs|length }} Обьявления</h3>
{% if perms.blogs.add_blog %}
<a href="{% url 'create' %}"class="btn btn-secondary btn-sm">Добавить POST</a>
{% endif %}
<table>

<hr>
               <td>Описание</td>
               <td>категория</td>
               <td>содержание</td>

{% if blogs %}
            <tr>
            {% for blog in blogs %}
            <tr>
            <td>
            <a href="{% url 'blog' blog.id %}">{{ blog.title }}</a>

            {% for category in blogs.category.all %}
            <a href="{% url 'category_list' category.id %}"class="btn btn-secondary " >{{ blog.category }}</a>
            {% endfor %}
            </td>

            <td>{{ blog.content|truncatewords:70}}</td>
        <td>
            {% if blog.image %}
            <img src="{{ MEDIA_URL }}{{ blog.image.url }}" width="300">
            {% endif %}
        {% endfor %}
</table>
{% else %}
<h2>"Новостей нет!"</h2>
{% endif %}
{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}

