{% extends 'flatpages/default.html' %}
{% block title %}
Ad
{% endblock title %}
{% block content %}
<form action="your_view" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

</form>
<table class="table">
    <thead>
        <tr>
            <th>Описание</th>
            <th>Текст</th>
            <th>Дата создания</th>
            <th>Файлы</th>
            <th>Изображение</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ blog.title }}</td>
            <td>{{ blog.content }}</td>
            <td>{{ blog.created_at }}</td>
            <td>
                {% if blog.file %}
                 <a href="{{ MEDIA_URL }}{{ blog.file.url }}">Скачать файл</a>
                {% endif %}
            </td>
            <td>
                {% if blog.file %}
                    <img src="{{ MEDIA_URL }}{{ blog.image.url }}" width="500">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'add_response' blog.id %}" class="btn btn-primary">Добавить комментарий</a>
            </td>
        </tr>
    </tbody>
</table>

<hr>

{% block AD %}
<h1>Отклики на "{{ blog.title }}"</h1>

{% if blog.responses.all %}

    <table class="table">
        <thead>
            <tr>
                <th>Комментарий</th>
                <th>Автор</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for response in blog.responses.all %}
                <tr>
                    {% if blog.author.authorUser == request.user %}
                        <td>{{ response.text }}</td>
                        <td>{{ response.author }}</td>
                        <td>{{ response.created_at }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Нет откликов на этот блог.</p>
{% endif %}
{% endblock %}
{% endblock %}